<div class="container">
  <div class=row>
    <div class="col-md-7">
      <div class="card  mt-5 pr-5 pl-5 ">
        <div class="card-body text-center ">
          <img src="../../assets/images/doctor.png" width="100" class="mb-3" alt="">
          <h3>Vet/Omar Sukker</h3>
          <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, deleniti!
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <div class="d-flex ">
            <div class=" ">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-full"></i>

            </div>
            <div class=" ml-auto">
              <a href="">Show all reviews</a>

            </div>

          </div>



        </div>

      </div>
      <div class="card crad2 mt-4">
        <div class="card-body text-center">
          <h3>Clinc Pics</h3>
          <div class="">
            <img src="../../assets/images/lobby.jpg" class="  mr-3" alt="">
            <img src="../../assets/images/lobby.jpg" class="  mr-3" alt="">
            <img src="../../assets/images/lobby.jpg" class=" " alt="">

          </div>
        </div>


      </div>
      <div class="card mt-4  pr-5 pl-5 ">
        <div class="card-body text-center">
          
            <h4 class="">People's Reviews</h4>
            <form action="" class="ml-auto">
                <div class="row">
              <div class="form-group col-md-12 col-sm-12  ">
                    <textarea name="" id=""  cols="50" rows="6" ></textarea>
              </div></div>
              <button type="submit" class="btn btn1 my-3  ">
                  Add Your Review

              </button>
            </form>


        </div>

      </div>
      <div class="card mt-3 pr-5">
          <div class="card-body">
              <div class="d-flex">
                  <h5>Aya Awad</h5>
                  <div class="ml-auto ">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-full"></i>
          
                      </div>


              </div>
              <p class="pl-3 mt-1"><i class="fa fa-quote-left "></i>Lorem ipsum dolor sit amet eos
                adipisci, consectetur adipisicing elit.</p>

          </div>
      </div>


    </div>
    <div class="col-md-5 ">
        <div class="card mt-5 text-center">

                <div class="col-*-10 offset-*-4">
                        <div class=" text-center my-3">
                          <h4 class="text-center text-primary">Booking</h4>
                      </div>
                      <div class=" text-center my-3">
                          <h4 class="text-primary"><span><i class="fa fa-map-marker-alt ml-1"></i></span>location</h4>
                      </div>
                      <article class='form-group text-center'>
                          Dermatologist , Canadian Diploma Asthetic & Laser , member of European society
                      </article>
                      <div class='container ml-3 pl-2'>
                          <div class="form-row  ">
                              <span></span>
                             <div class="text-center ml-4">
                               <a class="form-label mr-3">
                              waiting
                            </a></div> 
                              <span></span>
                              <a class="form-label mr-0">
                                fees
                              </a>
                        </div>
                  <div class=" mt-5">
                      <h2 class=" text-center">Choose a  Day</h2>
                  </div>
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="form-row">
                                <div class="card text-center ml-3" id='appointmentcard'>
                                  <div class="card-body">
                                    <h4 class="card-title text-center">Today</h4>
                                    <article class='form-group m-3'>
                                        <p class="card-text">From 5:00 PM</p>
                                        <p class="card-text">To 7:00 PM</p>
                                    </article>
                                    <div class="form-group">
                                      <input type="submit" name="" id="book" class="form-control text-center bg-primary text-light" value='Book'>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
              </div>
                      </div>
      </div>
            
                   
        
        </div>


    </div>

 