<div class="container">
    <div class="card border border-primary col-xl-5 col-lg-5 col-md-6 col-sm-7 col-xs-8 col-8">
        <div class="card-body">
          <h5 class="card-title text-primary">LOGIN</h5>
          <div class="form-group col-*-6">
            <input type="text" class="form-control border border-primary"
                     id="username" placeholder="User Name">
          </div>
        <div class="form-group col-*-6">
          <input type="password" class="form-control border border-primary"
                   id="password" placeholder="Password">
        </div>
        <div class="form-row">
          <div class="form-group col-*-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Remember me
              </label>
              <a [routerLink]="['/']"
                 class="d-*-flex text-decoration-none pl-4">
                    Forget your password?
              </a>
            </div>
          </div>
        </div>
        <div class="form-group">
            <div class="form-group col-*-6">
              <button class='btn btn-primary col-*-8 w-100 h-100 p-2' type="submit" id='signin'>Sign in</button>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-*-1">
              <p class='text-center'>OR</p>
            </div>
        </div>
        <div class="form-group col-*-6">
            <button class='col-*-8 w-100 h-100 p-2 text-center' id='facebook'>
                 <i class="fa fa-facebook mr-3"></i>
                 Login with Facebook
            </button>
        </div>
        <div class="col-*-4">
          <label for="gridCheck" class="form-check-label text-center offset-3 pb-1">
            Don't have an account
          </label>
          <a [routerLink]="['/csignup']" class="text-decoration-none text-center text-primary offset-4 pb-5">
            Sign Up Now
          </a>
        </div>
      </div>
    </div>
</div>
