<div class="container py-5">
    <div class="row">
        <div class="list-group col-lg-2 font-weight-bold">
            <a routerLink="/aboutus" routerLinkActive="active" class="list-group-item">
                <i class="fa fa-info-circle" aria-hidden="true"></i> About us</a>
            <a routerLink="/contactus" routerLinkActive="active" class="list-group-item">
                <i class="fa fa-envelope" aria-hidden="true"></i> Contact us</a>
            <a routerLink="/callus" routerLinkActive="active" class="list-group-item">
                <i class="fa fa-phone-square" aria-hidden="true"></i> Call us</a>
            <a routerLink="/ourteam" routerLinkActive="active" class="list-group-item">
                <i class="fa fa-users" aria-hidden="true"></i> Our team</a>

        </div>
        <div class="col-lg-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>