<div class="container">
    <div class="card  text-center col-lg-7 border border-white">
        <h5 class="card-header  bg-primary  text-white font"> Manage your Profile </h5>
        <div class="card-body border border-info">

            <form #myform='ngForm' (ngSubmit)='onSubmit(myform)'>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-lg-3 col-form-label text-secondary">Your name<span>*</span></label>
                    <div class="col-lg-9">
                        <input type="name" class="form-control" id="inputname3" placeholder="Name" #username='ngModel' [(ngModel)]='variable' required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail" class="col-lg-3 col-form-label text-secondary ">Email address<span>*</span></label>
                    <div class="col-lg-9">
                        <input type="email" class="form-control " id="inputEmail" placeholder="Email" required #email='ngModel' [(ngModel)]='variable2'>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail2" class="col-lg-3 col-form-label text-secondary">Phone number<span>*</span></label>
                    <div class="col-lg-9">
                        <input type="tel" class="form-control " id="inputEmail2" placeholder="phone number" required #number='ngModel' [(ngModel)]='variable3'>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-lg-3 col-form-label text-secondary">Birth of date</label>
                    <div class="col-lg-9">
                        <input type="date" class="form-control" id="inputEmail3" placeholder="birth date" #date='ngModel' [(ngModel)]='variable4'>
                    </div>
                </div>
                <div class="form-group row">

                    <label for="final" class="col-lg-3 col-form-label text-secondary">Area</label>
                    <select class="custom-select fa fa-calendar-check-o" aria-hidden="true" id="final">
                        <option selected></option>
                        <optgroup label="Dakahlia">
                            <option value="1">Mansoura</option>
                            <option value="2">Sherben</option>
                        <optgroup label="Cairo">
                         <option value="3">New Cairo</option>
                         <option value="4">Giza</option>
                         <option value="5">Nasr City</option>
              <!-- <hr class="text-secondary"> -->
                       </optgroup>
                       <optgroup label="Damietta">
                        <option value="6">Fariskour</option>
                        <option value="7">El Zarka</option>
                        <option value="8">New Damietta</option>
                        </optgroup>
                    </select>
                </div>






                <div class="form-group row">
                    <div class="offset-lg-3 offset-sm-2">

                        <button type="submit" class="btn bg-danger text-white">Save</button>


                        <button type="" class="btn bg-primary text-white">Cancel </button>

                    </div>
                </div>
            </form>

        </div>
    </div>
