h5,
label,
input,
button,
select {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

select {
    margin-left: 1em;
    margin-top: 0em;
    width: 19em;
}

img {
    width: 2em;
}

span {
    color: red;
}

label {
    text-align: left;
    margin-right: 0em;
    margin-left: 0em;
}

button {
    margin: .5em;
    width: 10em;
    font-weight: bold;
}

.card {
    border: 1px solid #0bb5eb;
    border-radius: 15px;

  }

  h4 {
    background: linear-gradient(#0bb5eb,#7c7ee2 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 5px;

  }

